body{
    height: 100vh;
    width: 100%;
    margin: 0;
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: IBMPlexSans, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  
}
a{
    text-decoration: none;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    height:fit-content;
    margin: auto;
    padding-top: 50px;
    background-color:  #1b1124 !important;
    padding-bottom: 50px;
}
.p_name{
    font-size: 4em;
    color: rgba(255, 255, 255, 0.986);
    text-align: center;
    font-weight: 900;
    padding-bottom: 2%;
}
.p_img{
    width: 270px;
    height: 300px;
    margin: 0 auto;
   
}
.p_img>img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid rgb(212, 212, 212);
}
.p_details{
    margin: auto;
    width: 70vw;
    padding: 2%;
    color: white;
}
.p_details>li{
list-style: none;
color: rgb(189, 121, 121);
font-size: 1.2em;
padding: 0.5%;
}
.p_details>li>span{
    color: white;
    font-weight: 600;
}
.p_table{
    margin: auto;
    width: 60vw;
    background-color: white;

}
footer{
    height: 100px;
}


@media(max-width:780px){
    .p_name {
        font-size: 3em;
    }
    .table {
        font-size: 0.6em;
    }
    .p_details>li {
        font-size: 1em;
     }
     .p_details>li>span {
        font-size: 0.9em;
    }
}
@media(max-width:580px){
    .p_details>li {
       font-size: 0.8em;
    }
    .p_name {
        font-size: 2em;
    }
    main>h2 {
        font-size: 1.5rem;
    }
    .table {
        font-size: 0.5em;
    }
    .p_details>li>span {
        font-size: 0.8em;
    }
    .p_img{
        width: 200px;
        height: 230px;
    }  
}
@media(max-width:450px){
  
    .p_name {
        font-size: 1.2em;
    }
    main>h2 {
        font-size: 1rem;
    }
    .p_details>li {
        font-size: 0.6em;
     }
     .p_details>li>span {
        font-size: 0.6em;
    }
    .h2, h2 {
        font-size: 1rem;
    }
    .p_img{
        width: 170px;
        height: 200px;
    } 
    .table {
        font-size: 0.3em;
    } 
}
@media(max-width:300px){
    .table {
        font-size: 0.2em;
    } 
}